* {
  margin: 0;
  padding: 0;

}

hr {
  width: 80%;
  /* Set the desired width */
  margin: 0 auto;
  /* Center the HR element */
  height: 2px;
  border: none;
  background-color: #f3db02;
}



body {
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f3db02;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f3db02;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000e01;
}

.container {
  border-radius: 5px;
  background-color: rgb(43, 41, 42);
  padding: 20px;
}



.contactme {
  color: #ffffff;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}


.giphy-embed {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {

  background-color: rgb(0, 0, 0);
  text-align: center;


}

.links {

  color: #f3db02;
  background-color: transparent
}

.desert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;


}

.mailbox {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;

}


h3 {

  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #f3db02;
}


.bordered-text {
  border: 0px solid rgba(247, 242, 0, 0.993);
  padding: 30px;
  margin: 30px auto;
  /* Center the div */
  max-width: 1200px;
  /* Prevent it from going full-width */
}



.profile-img {
  width: 500px;
  height: 500px;
  border-radius: 60%;
  float: right;
  margin-right: 10px;
}


body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(43, 41, 42);
  font-family: sans-serif;
}


main {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  width: 100%;
  color: #ffffff;
  background-color: rgb(43, 41, 42);
}

.h2 {
  text-align: left;

}

.Counter {
  margin: 0;
  position: absolute;

}


footer {
  display: block;
  background-color: rgb(43, 41, 42);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f3db02;
  height: 85px;
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}


/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #e4089a;
  color: white;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgb(43, 41, 42);
  background-size: auto;
  display: flex;
  justify-content: center;
  /* Center the navigation items */


}


nav ul li {
  float: left;
  list-style: none;
  position: sticky;
  margin: 0 70px;
  /*adds horizontal space between links */
}

nav ul li a {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 230, 1);
  font-size: 33px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li:hover ul {
  display: block;

}

@media (max-width: 420px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {
    width: 100%;
    height: 75px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  


  
  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: auto;
          /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 23px;
    padding: 10px 15px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }
}

@media (min-width: 421px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {
    width: 100%;
    height: 75px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: auto;
          /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 23px;
    padding: 10px 23px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }
}

@media (min-width: 501px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {
    width: 100%;
    height: 75px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: auto;
          /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 25px;
    padding: 10px 33px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }
}

@media (min-width: 601px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {

    width: 100%;
    height: 120px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: 20px;

    /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 33px;
    padding: 22px 14px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }

}

@media (min-width: 768px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {

    width: 100%;
    height: 120px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: 35px;

    /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 33px;
    padding: 22px 24px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }

}

@media (min-width: 992px) {



  .profile-img {
    width: 50%;
    height: 50%;
    border-radius: 60%;
    float: right;
    margin-right: 10px;
  }

  nav {

    width: 100%;
    height: 120px;
    background-color: rgb(43, 41, 42);
    background-size: auto;



  }

  nav {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
  }

  nav ul li {
    float: left;
    list-style: none;
    position: sticky;
    margin: 35px;

    /*adds horizontal space between links */
  }

  nav ul li a {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 230, 1);
    font-size: 33px;
    padding: 22px 24px;
    text-decoration: none;
  }

  nav ul li:hover ul {
    display: block;

  }

}